<div class="sidebar">

  <div class="sidebar-section">
    <h5><span>Publications</span></h5>
    <ul style="list-none;">
      <li><a target="_blank" href="https://arxiv.org/abs/1905.11824">Attacker Behaviour Profiling using Stochastic
          Ensemble of Hidden Markov Models</a></li>
      <li><a target="blank" href="https://link.springer.com/chapter/10.1007/978-981-13-3582-2_3">Temporal and Stochastic
          Modelling of Attacker Behaviour</a></li>
      <li><a target="blank" href="https://ieeexplore.ieee.org/document/8722433">Tackling Toxic Online Communication with
          Recurrent Capsule Networks</a></li>
    </ul>
  </div>

  <div class="sidebar-section">
    <div class="wrap-profile-img-sidebar">
      <img src="{{ site.baseurl }}/assets/images/fanconic.jpg" class="rounded-circle profile-img-sidebar"
        alt="Claudio Fanconi">
    </div>
    <h5><span>Claudio Fanconi</span>
      <div class="wrap-profile-img-sidebar">
        <p>M.Sc. EEIT, ETH Zürich</p>
      </div>
  </div>

</div>